<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = 'static/style.css'>
    <title>CheapEats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar background">
        <ul class="nav-list">
          <div class ='logo'><img src='static/cheapeats.png' alt='logo'></div>  
          <li><a id="home" href ="#"> Home </a></li>
          <li><a id="shoppingcart" href ="/shoppingcart">Shopping Cart</a></li>
          <!-- <li><a id="shoppscan" href ="#shopscan">Shop Scans</a></li> -->
          <li><a id="dashboard" href ="#dashboard"> Dashboard </a>  </li>    
        </ul >
    </nav>
    <section class="background firstSection">
        <div class="box-main">
            <div class="firstHalf">
                <p class="heading">Welcome to CheapEats</p><br>
                <p class="Message">CheapEats will help you compare the prices of your favorite food items across different grocery stores in your city. 
                    All you have to do is create a shopping list and enter the current prices of the food items from the store you visit.
                    This way everyone keeps the dashboard updated with live prices store prices around the city and help each other to get best deals.
    
                </p>
            </div>
            <div class="secondHalf">
                <img src="static/cheapeats.png" alt="logo">
            </div>

    </section>
        
</body>
</html>