<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = 'static/style.css'>
    <title>CheapEats</title>
</head>
<body>
    <nav class="navbar background">
        <ul class="nav-list">
          <div class ='logo'><img src='static/cheapeats.png' alt='logo'></div>  
          <li><a id="home" href ="/"> Home </a></li>    
        </ul >
    </nav>
    <section class="background firstSection">
        <div class="box-main1">
            <div class="firstHalf1">
                <section class="Section1", id ="shoppingcartdetails">                   
                    <form action="" method="post">
                        <p class="logintext">Input Details</p><br>
                        <div class="container">
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>
                    
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password, Must be 8 characters" name="psw" required>
                    
                        <label for="location"><b>Location</b></label>
                        <input type="text" placeholder="Enter your City and State, eg.Los Angeles, CA" name="location" required>
                    
                        <label for="pincode"><b>Pincode</b></label>
                        <input type="text" placeholder="Enter your pincode" name="pincode" required>
                    

                        <button type="submit">Submit</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                        </div>
                    </form>
                </section>    
            </div>
            <div class = "secondHalf1">























                
            </div>
    </section>
</body>
</html>