*{
    margin: 0;
    padding:0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo img{
    margin: 0.2cm; 
    width: 30%;
    border: 1px solid white;
    border-radius:40px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: left;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 75%;  
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 25px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white; 
    font-size: 20px;   
}

.nav-list li a:hover{
    color: grey   
}

.background{
    background: rgba(0, 0, 0, 0.5) url('img1.jpg');
    background-size:cover;
    background-blend-mode:darken;  
}

.firstSection{
    height: 125vh;
}



.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 80%;
    margin: auto;
    height: 70%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.secondHalf{
    width:30%;
}

.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;     
}

.heading{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Message{
    font-size: 20px;
}

.Section{
    height: 126px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}


input[type=text], input[type=password] {
  width: 39%;
  padding: 9px 20px;
  margin: 5px 0;
  display: inline-block;
  height:38px
  /* border: 1px solid #ccc;
  box-sizing: border-box; */
}

.firstSection1{
  height: 125vh;
}
.firstSection2{
  height: 195vh;
}


.container {
  padding: 16px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text-align:center; */
  justify-content:center;
}

.container1 {
  padding: 16px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:center;
  justify-content:center;
}

.box-main1{
  justify-content:right;
  align-items:center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 80%;
  margin: auto;
  height: 70%;
  
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}


.text-footer{
text-align: center;
display:flex;
justify-content: center;
font-family: 'Ubuntu',sans-serif;
color: white;
}